body {
    font-family: 'Times New Roman', Times, serif;
}

.header-container {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 1%;
}

.main-title-container {
    padding-bottom: 2%;
}

.bg-sky-blue {
    background-color: deepskyblue;
}

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: purple;
}

/* css code to color odd rows */
tr:nth-child(odd) {
    background-color: #96a5a5;
}

tr:nth-child(even) {
    background-color: #e4e7e7;
}

td {
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer-text {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}